<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mpush.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mpush.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MPushReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.mpush.HEALTH_CHECK" />
                <action android:name="com.mpush.NOTIFY_CANCEL" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MPushService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".MPushFakeService" />

        <receiver
            android:name="com.mpush.demo.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mpush.MESSAGE_RECEIVED" />      <!--收到PUSH消息-->
                <action android:name="com.mpush.KICK_USER" />             <!--收到踢人消息-->
                <action android:name="com.mpush.CONNECTIVITY_CHANGE" />   <!--收到链接变化-->
                <action android:name="com.mpush.HANDSHAKE_OK" />          <!--收到握手成功消息-->
                <action android:name="com.mpush.BIND_USER" />             <!--收到绑定用户消息-->
                <action android:name="com.mpush.UNBIND_USER" />           <!--收到解绑用户消息-->

                <!--此值要改为自己的应用的applicationId  @see MPushService-->
                <category android:name="com.mpush.android" />
            </intent-filter>
        </receiver>
    </application>

</manifest>